<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Game</title>
    <link rel="stylesheet" href="static/css/style.css">
  </head>
  <body>
    <div class="wrapper">
      <div class="header">
        <h1>Game</h1>
        <ul>
          <li><a href="/">Sākums</a></li>
          <li><a href="score">Rezultāts</a></li>
          <li><a href="about">Par</a></li>
        </ul>
      </div>
      <div class="content">
        <div class="game">
          <div class="block">
            <div id="1div"><button onClick="doTurn(1)">🤣</button></div>
          </div>
          <div class="block">
            <div id="2div"><button onClick="doTurn(2)">🙃</button></div>
          </div>
          <div class="block">
            <div id="3div"><button onClick="doTurn(3)">😶</button></div>
          </div>
          <div class="block">
            <div id="4div"><button onClick="doTurn(4)">🤣</button></div>
          </div>
          <div class="block">
            <div id="5div"><button onClick="doTurn(5)">🤌</button></div>
          </div>
          <div class="block">
            <div id="6div"><button onClick="doTurn(6)">👍</button></div>
          </div>
          <div class="block">
            <div id="7div"><button onClick="doTurn(7)">🙀</button></div>
          </div>
          <div class="block">
            <div id="8div"><button onClick="doTurn(8)">🙃</button></div>
          </div>
          <div class="block">
            <div id="9div"><button onClick="doTurn(9)">🤌</button></div>
          </div>
          <div class="block">
            <div id="10div"><button onClick="doTurn(10)">😶</button></div>
          </div>
          <div class="block">
            <div id="11div"><button onClick="doTurn(11)">🙀</button></div>
          </div>
          <div class="block">
            <div id="12div"><button onClick="doTurn(12)">👍</button></div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script src="/static/js/game.js"></script>
</html>